<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
    <div layout:fragment="content">
        <div class="container" style="align-content: center;">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Editing State record
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal " th:action="@{'/states/update/'+${state.id}}" method="put">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Description</label>
                                    <div class="col-sm-6">
                                        <input name="description" th:value="${state.description}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Capital</label>
                                    <div class="col-sm-6">
                                        <input name="capital" th:value="${state.capital}" class="form-control" size="16" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4"> Nationality</label>
                                    <div class="col-sm-6">
                                        <input name="nationality" th:value="${state.nationality}" type="text" class=" form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4"> Continent</label>

                                    <div class="col-sm-5">
                                        <input name="continent" th:value="${state.continent}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">State Code</label>

                                    <div class="col-sm-5">
                                        <input name="code" th:value="${state.code}" type="text" class="form-control">
                                    </div>
                                </div>
                                <!--buttons for save and exit-->
                                <div style="margin-left:75%;margin-top: 25px;">
                                    <button type="submit" href="/stateAdd" class="btn btn-success">Save State</button>
                                    <a href="/states" class="btn btn-warning">Exit</a>
                                </div>
                            </form>


                        </div>
                    </section>
                    <section class="panel">
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
</html>